.picker {
  max-height: 75px;
  min-height: 30px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;

  &:hover {
    .add-item {
      opacity: 1;
    }

    .last-price {
      opacity: 0;
    }

    .btns {
      opacity: 1;
    }
  }
}